/* Place your CSS styles in this file */

/* Variables that holds the color palletes of the website*/
:root {
    --section-background: #DCDBE0;  /* A shade of grey */
    --accent1: #E57C04; /* A shade of orange */
    --accent2: #778472;    /* A shade of green */
    --pallete-white: #F2F2F2; /* A dim white */
    --pallete-black: #2F2F2F;      /* A lighter black */
}

@font-face {
    font-family: 'Century_Gothic';
    src: url('fonts/CenturyGothic.ttf') format('truetypr');
}
header{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: var(--section-background);
    font-family: 'Century_Gothic', sans-serif;
    font-weight: bold;
    z-index: 1000; /* Ensure that the header is above other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.header-container {
    display: flex;
}

.logo {
    height: 50px; /* Adjust based on your logo's size */
    margin-right: 15px;
}

.site-name {
    font-size: 1.5em;
}

